/*.log
/*.txt
/*.out
/*.svg
/*.zip
/*.gif
/*.profile
/callgrind*
/out.*
/perf.*
/iosnoop*
/runTests_*
/.nfs*
/memusg2.sh
/ycsbc
~*
/*.o
/db/*.o
/core/*.o
/results
/results/
/data*
/data*/
/db/stats_db.o
